:root
{
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;

    --c-green-500: #45ffbc;
    --c-green-200: #12dba2;
    --c-olive-500: #e3ffa8;
    --c-blue-500: #88d2db;
    --c-blue-700: #61dafb;

    --c-white-500: var(--c-gray-100);

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: var(--c-green-200);
  background-color: var(--c-gray-800);
}

.button{
  width: 100px;
  height: 100px;
  background-color: var(--c-blue-700);
}

.button-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  height: 100px;
}

.counter-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  }

.counter-viewer{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 48px;
  color: var(--c-olive-500);
}

.counter-section{
  margin-bottom: 40px;
}

.counter-section h1{
  color: var(--c-green-500);
  font-size: 48px;
}

.logo{
  height: 100px;
  width: 100px;
}
