:root
{
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;

    --c-green-500: #45ffbc;
    --c-green-200: #12dba2;
    --c-olive-500: #e3ffa8;
    --c-blue-500: #88d2db;
    --c-blue-700: #61dafb;

    --c-white-500: var(--c-gray-100);

    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--c-gray-800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--c-text-secondary);
}

.App-link {
  color: var(--c-blue-700)
}

.button{
  background-color: var(--c-green-500);
  color: var(--c-gray-900);
  border-color: var(--c-green-200);
}

.counter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;  
  color: var(--c-olive-500);
}

.counter-viewer{
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--c-blue-700);
}

.counter-section{
  margin-bottom: 40px;
}

.counter-section h1{
  color: var(--c-green-500);
  font-size: 48px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
